In [5]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

 ### Choosing the right Estimator/algorithm for your problem

###### Let's use California housing datset from =https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html#sklearn.datasets.fetch_california_housing

In [6]:
## Getting data set for regression
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

From here we can clearly see observe that, the data is stored in dictionary format, which has key "data", "target","target_names" & "feature_names" in there. Feauture_names has total 7 columns (axis=1), and target_names has only one 1 columns which is "MedHouseVal".

In [7]:
housing_df=pd.DataFrame(housing["data"],columns=housing["feature_names"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

Here we are creating dataframes (housing_df) form the key "data" from the dataset which has been stored in the form of Dictionary. These values under "data" key will be stored in columns whose name is taken from another key "feature_names" which has total 7 features.

In [8]:
housing_df["MedHouseVal"]=housing["target"]
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [9]:
housing_df["target"]=housing["target"]
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,3.422

In [10]:
housing_df=housing_df.drop("MedHouseVal",axis=1)
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [11]:
#Importing the algorithm/estimatore
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
#Setting up random sees
np.random.seed(42)

#Creating the data
X=housing_df.drop("target",axis=1)
y=housing_df["target"]
#Split into train and test sets
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
#Instantiating and fitting the model on training set
model=Ridge()
model.fit(X_train,y_train)
#Checking the model score on the testing set
model.score(X_test,y_test)

0.5758549611440126

In [12]:
# Import the RandomForestRegressor model class
from sklearn.ensemble import RandomForestRegressor
Rf_model=RandomForestRegressor()
Rf_model.fit(X_train,y_train)

Rf_model.score(X_test,y_test)

0.8065734772187598

In [13]:
y_preds=Rf_model.predict(X_test)

### Mean Absolute Error

In [28]:
df=pd.DataFrame(data={"Actual Values":y_test,
                     "Predicted Values":y_preds})
df[" Absolute Differences"]=abs(df["Actual Values"]-df["Predicted Values"])
df["Differences"]=(df["Actual Values"]-df["Predicted Values"])
df.head(20)

       Actual Values  Predicted Values   Absolute Differences  Differences
20046        0.47700          0.493840               0.016840    -0.016840
3024         0.45800          0.754940               0.296940    -0.296940
15663        5.00001          4.928596               0.071414     0.071414
20484        2.18600          2.543160               0.357160    -0.357160
9814         2.78000          2.331760               0.448240     0.448240
13311        1.58700          1.652530               0.065530    -0.065530
7113         1.98200          2.343230               0.361230    -0.361230
7668         1.57500          1.661820               0.086820    -0.086820
18246        3.40000          2.474890               0.925110     0.925110
5723         4.46600          4.834478               0.368478    -0.368478
20069        1.23200          1.177070               0.054930     0.054930
6835         2.53900          2.086440               0.452560     0.452560
11351        2.15100          1.582270               0.568730     0.568730
20267        2.20500          1.794620               0.410380     0.410380
7097         2.19800          2.478320               0.280320    -0.280320
6298         1.36200          1.551780               0.189780    -0.189780
696          1.78400          1.845460               0.061460    -0.061460
19607        1.87500          1.744660               0.130340     0.130340
14173        1.39800          1.512630               0.114630    -0.114630
19638        1.37500          0.899150               0.475850     0.475850

In [29]:
df["Differences"].mean()

-0.012048392126937589

In [14]:
# Compare the prediction to the truth
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_preds)

0.32659871732073664

Mean absolute error simply means the the mean of difference between the y_preds and y_test values

### Mean Squared Error
Mean Squared Error : Mean of the square of the errors between actual
predicted values

In [31]:
df["Squared Differences"]=np.square(df["Differences"])
df.head()

,Actual Values,Predicted Values,Absolute Differences,Differences,Squared Differences
20046,0.47700,0.493840,0.016840,-0.016840,0.000284
3024,0.45800,0.754940,0.296940,-0.296940,0.088173
15663,5.00001,4.928596,0.071414,0.071414,0.005100
20484,2.18600,2.543160,0.357160,-0.357160,0.127563
9814,2.78000,2.331760,0.448240,0.448240,0.200919

In [33]:
MSE=df["Squared Differences"].mean()
MSE

0.2534678520824551

In [35]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_preds)

0.2534678520824551

### R2 score

In [15]:
from sklearn.metrics import r2_score
# Fill an array with y_test mean
y_test_mean=np.full(len(y_test),y_test.mean())

In [17]:
y_test_mean[:10]

array([2.0550031, 2.0550031, 2.0550031, 2.0550031, 2.0550031, 2.0550031,
       2.0550031, 2.0550031, 2.0550031, 2.0550031])

In [18]:
r2_score(y_test,y_test)

1.0

What R ^2 does iscompare your model prediction to the mean of targets. Values can range from negative infinity to one. For example, if all of your model does predict the mean of targets, its R Square value would be zero. And if your model perfect predicts a range of number, its R Square value would be 1.